
/* CABEÇALHO */

#header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;

    background-color: white;

    width: 100vw;
    height: 70px;
    z-index: 1;
}

#logo-container{
    display: flex;
    align-items: center;
}

#logo-img{
    width: 100%;
    height: 100%;
}
#header-links-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 50vw;
}
.header-links{
    width: 100%;
    text-align: center;
}

/*  MAIN CONTENT */

#content-area-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

/* ÁREA DE CONTEÚDO */

.content-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100vw;
    height: 100vh;
}

/* PRIMEIRA SESSÃO */

#info{
    background-color: var(--color-primary-darkblue);
    /* background-color: #2176ae; */
}
.content-info-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-area-container{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.info-area-container:hover{
    scale: 1.1;

}

.info-area-container:first-child{
    position: relative;
    left: 100px;
}
.info-area-container:last-child{
    position: relative;
    left: 100px;
}

.info-text-container{
    width: 100%;
    display: flex;
    justify-content: space-around; 
}


.info-title{
    
    font-size: xx-large;
    color: var(--color-primary-blue);
    
}

.info-text{
    font-size: x-large;
    color: white;
}

.cap-cell{
 width: 20%;
 
}

/* SEGUNDA SESSÃO */

#examples{
    background-color: var(--color-primary-blue);
    padding: 50px;
    flex-flow: wrap;
    gap: 15px;
}

.card-home-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 6%;
    width: 500px;
    height: 40%;
    background-color: brown;
    border: black solid;
}

.card-title-contaier{
    
}

.description-text{
    text-align: center;
}

/* TERCEIRA SESSÃO */

#contact{
    background-color: var(--color-primary-red);
    /* background-color: #fe6847; */
}
.form-container{
    background-color: var(--color-primary-blue);
    width: 60%;
    height: 60%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "grid-title-contact ."
    "grid-name grid-img-contact"
    "grid-email grid-img-contact"
    "grid-phone ." 
    "button-submit ."
                   
}

.form-quest-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.form-quest-container > label{
    font-size: 32px;
}

.form-quest-container > input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 350px;
    
}

#title-contact{
    grid-area: grid-title-contact;
    font-size: 60px;
    margin: 15px;
}

#name{
    grid-area: grid-name;

}

#email{
    grid-area: grid-email;
}

#phone{
    grid-area: grid-phone;
}

#img-contact{
    align-content: center;
    grid-area:  grid-img-contact;

}

#container-button{
    grid-area: button-submit;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#submit-button{
    padding: 3px;
    border-radius: 10px;
}

#submit-button:hover{
    color: var(--color-primary-red);
    background-color: var(--color-primary-blue);
}

#img-contact > img{
    width: 80%;
}



/* FOOTER */

#footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    background-color: #866d0d;

}
.footer-contents{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 250px;
}

#icon-network{
    align-items: center;
    flex-direction: row;
    margin-left: 60px;
}

.icon-footer{
    width: 25px;
}

#icon-network > a{
    display: flex;
    justify-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 30%;
}

#icon-network > a:hover{
    scale: 1.3;
    background-color: var(--color-primary-darkblue);
}


#footer-login{
    align-items: flex-start;
    margin-left: 200px;
}

#footer-login > a > p:hover{
    color: var(--color-primary-blue);
    scale: 1.1;
}

#copyright{
    flex-direction: row;
    justify-content: center;
}
